/* CSS files add styling rules to your content */
class {
  green;
  pink;
  yellow;
  purple;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 2em;
  background-color: #c7deff;
}


h1 {
  font-style: italic;
  color: #373fff;
  
}
a {
  font-family: "Comic Sans MS", cursive, sans-serif;
 
  color: black;
}

td.green {
  padding: 10px;
  background-color: #baffd1;
}
td.green a:hover {
  background-color: #ffc3ba;
  color: black;
}

td{
  font-size: 25px;
}
td.pink {
  padding: 10px;
  background-color: #ffc3ba;
}
td.pink a:hover {
  background-color: #bac0ff;
  color: black;
}


td.yellow {
  padding: 10px;
  background-color: #fff4ba;
}
td.yellow a:hover {
  background-color: #baffd1;
  color: black;
}


td.purple {
  padding: 10px;
  background-color: #bac0ff;
}
td.purple a:hover {
  background-color: #fff4ba;
  color: black;
}


ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #baffd1;
  border-style: solid;
  border-color: #011126;
}

li.nav {
  float: right;
  font-size: 15px;
}

li.nav a {
  display: block;
  color: #011126;
  background-color:#ffdedb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

li.nav a:hover {
  background-color: #011126;
  color: #ffdedb;
}
